[submodule ".vim/pack/run2cmd/start/ale"]
	path = .vim/pack/run2cmd/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/run2cmd/start/ctrlp.vim"]
	path = .vim/pack/run2cmd/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/run2cmd/start/ctrlp-extensions.vim"]
	path = .vim/pack/run2cmd/start/ctrlp-extensions.vim
	url = https://github.com/sgur/ctrlp-extensions.vim.git
[submodule ".vim/pack/run2cmd/start/vim-polyglot"]
	path = .vim/pack/run2cmd/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/run2cmd/start/vim-fugitive"]
	path = .vim/pack/run2cmd/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/run2cmd/start/vim-rooter"]
	path = .vim/pack/run2cmd/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/pack/run2cmd/start/vim-unimpaired"]
	path = .vim/pack/run2cmd/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/run2cmd/start/vim-surround"]
	path = .vim/pack/run2cmd/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/run2cmd/start/vim-dispatch"]
	path = .vim/pack/run2cmd/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/pack/run2cmd/start/vim-eunuch"]
	path = .vim/pack/run2cmd/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/run2cmd/start/vim-repeat"]
	path = .vim/pack/run2cmd/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/run2cmd/start/vim-gutentags"]
	path = .vim/pack/run2cmd/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/run2cmd/start/vim-mucomplete"]
	path = .vim/pack/run2cmd/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule ".vim/pack/run2cmd/start/tabular"]
	path = .vim/pack/run2cmd/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/pack/run2cmd/start/vim-multiple-cursors"]
	path = .vim/pack/run2cmd/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/pack/run2cmd/start/vim-autoformat"]
	path = .vim/pack/run2cmd/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/pack/run2cmd/start/indentLine"]
	path = .vim/pack/run2cmd/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/run2cmd/start/vim-easymotion"]
	path = .vim/pack/run2cmd/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/run2cmd/start/vim-endwise"]
	path = .vim/pack/run2cmd/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/run2cmd/start/vim-signify"]
	path = .vim/pack/run2cmd/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/run2cmd/start/vim-projectionist"]
	path = .vim/pack/run2cmd/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/run2cmd/start/editorconfig-vim"]
	path = .vim/pack/run2cmd/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/run2cmd/start/vim-doge"]
	path = .vim/pack/run2cmd/start/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
[submodule ".vim/pack/run2cmd/start/vim-startify"]
	path = .vim/pack/run2cmd/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
