# This is Git's per-user configuration file.
[user]
  name = Bugala Piotr
  email = Piotr.Bugala@igt.com
[core]
  autocrlf = input
  longpaths = true
  editor = vim
[http]
  sslVerify = false
[pull]
  rebase = false
[push]
  default = current
[merge]
  commit = no
[log]
  decorate = auto
[credential]
  helper = manager
